
<div class="container">
  <div class="row">
    <div class="col-sm-2">
      <button  (click)="changeCategory()" class="btn btn-primary m-2 btn-sm">Home</button>
      <button *ngFor="let cat of categories" class="btn btn-primary m-2 btn-sm" [class.active]="cat == selectedCategory"
      (click)="changeCategory(cat)">{{ cat }}</button>
    </div>
    <div class="col-sm-10">
      <div class="row">
        <!-- products grid-->
        <div class="mb-3 col-sm-4" *ngFor="let product of products">
          <div class="card bg-light p-2">
            <h4>{{ product.name }} <span class="badge badge-pill badge-primary float-right"> {{ product.price | currency:"GBP":"symbol":"2.2-2" }} </span> </h4>
            <div class="card-text bg-white p-1">{{ product.description }} </div>
          </div>
        </div>


      </div>
      <div class="row border-top py-2">
                <!-- pagination -->
        <div class="form-inline col-sm-3">
            <select class="form-control" [value]="productsPerPage" (change)="changePageSize($event.target.value)">
              <option value="4">4 per page</option>
              <option value="9">9 per page</option>
              <option value="12">12 per page</option>
              <option value="15">15 per page</option>
            </select>
          </div>
          <div class="col-sm-6"></div>
          <div class="btn-group col-sm-3 text-right">
            <button *counter="let page of pageCount" (click)="changePage(page)"
              class="btn btn-outline-info" [class.active]="page == selectedPage">{{ page }}</button>
          </div>
      </div>
    </div>
  </div>
</div>
